<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brand.description %>
</p>

<%= link_to 'Edit brand info', edit_brand_path %>
<%= link_to 'Back to brands', brands_path %>